extends layout

block content
  h1= title
  form#formAddUser(name="addinfo",method="post",action="/addinfo")
        input#inputWebsite(type="text", placeholder="website", name=website)
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputPassword(type="text", placeholder="password", name="passwd")
        button#btnSubmit(type="submit") submit
